
main {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    align-items: stretch;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

body {
    display:flex;
    flex-direction: column;
    /*flex-shrink: 0;*/
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;

    min-height: 100vh;

}

/* to add a small space before the footer */
footer {
    /*white-space: pre;*/
    text-align: center;
    width: 100%;
}

.login-card {
    max-width: 400px;
    width: 100%;
}

.register-card {
    max-width: 600px;
    width: 100%;
}

.login-card .card-header .register-card {
    text-align: center;
    font-weight: bold;
}

.login-card .btn-primary {
    width: 100%;
}

.message-card {
    max-width: 70%;
}

.message-panel {
    display: flex;
    flex-direction: column;
}

.message-right {
    align-self: end;
    text-align: right;
}

.message-left {
    align-self: start;
    text-align: left;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}