{% extends 'base_template.html.jinja2' %}

{% set title = "Contact" %}
{% set active_page = "contact" %}

{% block content %}

    <div class="d-flex flex-column align-items-center w-100">
        <div class="text-center mt-5">
            <h1> Ilian BEN AMAR </h1>
        </div>
        <div class="text-center mt-3">

            <a href="https://github.com/ilian20000/messimtger">
                https://github.com/ilian20000/messimtger
            </a>
            <h3> Rattrapage UE WEB : Projet Messimtger </h3>
        </div>
        <div class="text-center card mt-5 mw-50">
            <div class="text-center card-header">
                <h2> Contact : </h2>
            </div>
            <div class="text-center card-body">
                Adresse Email :
                <h5>ilian.ben-amar@imt-atlantique.net</h5>
            </div>

        </div>


    </div>


{% endblock %}


