{% extends 'base_template.html.jinja2' %}

{% set title = "Contact" %}
{% set active_page = "contact" %}

{% block content %}

    <h1> CALL MEEEE </h1>
    <h2> HERE'S MY NUMBER </h2>

{% endblock %}


