{% extends 'base_template.html.jinja2' %}

{% set title = "Créer un compte MessIMTger" %}
{% set active_page = "register" %}

{% if register_error_msg is not defined %}
{% set register_error_msg = "" %}
{% endif %}

{% block content %}

    <div class="d-flex justify-content-center">
        <div class="register-card mt-5 mb-5 mx-5">
            <div class="card">
                <div class="card-header">
                    <div class="text-center mt-2"> <h5> Créer un compte </h5> </div>
                </div>
                <div class="card-body">
                    <form action="{{ url_for("register_callback") }}" method="post">
                        <div class="mb-3">
                            <label for="pseudo" class="form-label">Nom d'utilisateur</label>
                            <input type="text" class="form-control" name="username" placeholder="Entrez votre pseudonyme"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Adresse Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Entrez votre email"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de Passe</label>
                            <div class="text-secondary">
                                Au moins 6 caractères, doit contenir 1 lettre et 1 chiffre
                            </div>
                            <input type="password" class="form-control mb-3" name="password"
                                   placeholder="Entrez votre mot de passe" required>
                            <input type="password" class="form-control" name="password_confirm"
                                   placeholder="Confirmez votre mot de passe" required>
                            <div class="text-danger">
                            {{ register_error_msg }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Créer un compte</button>
                        </div>

                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{{ url_for("register") }}">Mot de passe oublié?</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


